/* Variables */

:root {
    --clr-primary-200: hsl(225,100%,94%);
    --clr-primary-400: hsl(245,75%,52%);

    --clr-primary-hsla-400: hsla(245,75%,52%,0.5);

    --clr-neutral-100: hsl(0,0%,100%);
    --clr-neutral-200: hsl(225,100%,98%);
    --clr-neutral-300: hsl(224,23%,55%);
    --clr-neutral-800: hsl(223,47%,23%);

    --clr-neutral-hsla-300: hsla(224,23%,55%,0.5);

    --ff-base: "Red Hat Display";
    
    --fw-neutral: 500;
    --fw-bold: 700;
    --fw-strong: 900;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
 
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

/* Code */

body {
    font-family: var(--ff-base);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-size: 100%;
    background-color: var(--clr-primary-200);
    font-size: 16px;
}

.main-content {
    background-color: var(--clr-neutral-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 100px var(--clr-neutral-hsla-300);
}

.main-content h1 {
    font-weight: var(--fw-strong);
    font-size: 1.75rem;
    color: var(--clr-neutral-800);    
    margin-top:2.8rem;
}

.main-content p {
    color: var(--clr-neutral-300);
    text-align: center;
    font-weight: var(--fw-neutral);
}

.main-content__text {
    margin-top: 1rem;
    padding: 0 4.5rem;
    line-height: 1.6rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-neutral-200);
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 80%;
}

.main-content p span {
    color: var(--clr-neutral-800);
    font-weight: var(--fw-strong);
    font-size: 16.5px;
}

.flex-container__column {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.change-link {
    margin-left: auto;
    margin-right: 2px;
}

.change-link a{
    color: var(--clr-primary-400);
    font-size: 14px;
    font-weight: var(--fw-strong);
}

.main-content_buttons {
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
}

.button {
    width: 97.5%;
    padding: 0.9rem;
    border: none;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    border-radius: 10px;
    box-shadow: 0px 5px 20px var(--clr-neutral-hsla-300);
    margin-bottom:1.8rem;
    margin-top: 1rem;
}

.main-content_buttons a {
    text-decoration: none;
    color: var(--clr-neutral-300);
    font-weight: var(--fw-bold);
    font-size: 15px;
}

/* Hover */

.main-content_buttons a:hover {
    color: var(--clr-neutral-800);
}

.change-link a:hover {
    text-decoration: none;
    color: var(--clr-primary-hsla-400)
}

.button:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hsla-400);
}


/* Media */

@media (max-width: 450px) {

    body {
        background-image: url(images/pattern-background-mobile.svg);
    }
    .main-content {
        max-width: 320px;
    }

    .main-content__text {
        padding: 0 1.5rem;
    }

    .flex-container {
        padding: 0;
    }
}

/* Attribution */
.attribution {
    position: absolute; 
    font-size: 11px; text-align: center;
    top:97%;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}